@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hi I am Md Fagun Molla . This is my First DotNet Project. I work only Database.
        It use only Add Employee, Update Employee and Delete Employee
    </p>
</div>
